{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Michael's NFC Vinyl Player experiment</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 1rem">
{{end}}
{{ template "header" }}
        <h4>Vinyl collection</h4>
        <!-- <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p> -->


        <table class="u-full-width">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cover</th>
              <th>Name</th>
              <th>Artist</th>
              <th>Links</th>
            </tr>
          </thead>
          <tbody>
            {{ range .}}
            <tr>
              <td>{{.Id}}</td>
              <td></td>
              <td>{{.Name}}</td>
              <td>{{.Artist}}</td>
              <td>
                <a href="/play/{{.Id}}">🎵</a>
              </td>
            </tr>
            {{ end}}
          </tbody>
        </table>

{{ template "footer" }}

{{ define "footer"}}
      </div>
    </div>
  </div>

<!-- End Document -->
</body>
</html>
{{ end }}
